{% extends 'home/base.html' %}

{% block content %}
<br>
<h2>About</h2>
<p>&ldquo;<strong>Traveling</strong> &ndash; <em>it leaves you speechless, then turns you into a storyteller</em>&rdquo; &ndash; Ibn Battuta</p>
<p>The <strong>MUSEO Tu&rsquo; Agusan</strong> is part of the EduTourism program of Agusan del Sur State College of Agriculture and Technology, it is an online museum that serves as a virtual guide for local tourists in exploring the different attractions found in the province of Agusan del Sur.</p>
<p>Its purpose is to help YOU appreciate and discover the unseen beauty of Agusan del Sur. Your beautiful journey to Agusan, begins now! It is just a click away.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>


{% endblock %}
